---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro';
import Hero from '../components/sections/Home.astro';
import About from '../components/sections/About.astro';	
import Skills from '../components/sections/Skills.astro';
import Projects from '../components/sections/Projects.astro';
import Experience from '../components/sections/Experience.astro';
import Contact from '../components/sections/Contact.astro';
import Footer from '../components/Footer.astro';
---
<Layout 
	title="Samuel Sotomayor | Desarrollador de Software"
	description="Portfolio profesional de Samuel Sotomayor, especializado en desarrollo FullStack y arquitectura de software."
>
	<Navbar />

	<main class="bg-[#09090b] min-h-screen">
		
		<Hero />
			
			<section id="about">
				<About />
			</section>

			<section id="Skills">
				<Skills />
			</section>

			<section id="Proyectos">
				<Projects />
			</section>

			<section id="Experiencia">
				<Experience />
			</section>

			<section id="Contacto">
				<Contact />
			</section>

	</main>

	<Footer />
</Layout>

<style is:global>
	/* Optimizamos el scroll para que el Navbar fixed no tape los títulos */
	section {
		scroll-margin-top: 5rem; /* 80px, igual al h-20 del Navbar */
	}

	/* Animación sutil de entrada para las secciones sin usar JS */
	section {
		view-timeline-name: --section;
		view-timeline-axis: block;
		animation-timeline: --section;
		animation-name: show;
		animation-range: entry 10% cover 30%;
		animation-fill-mode: both;
	}

	@keyframes show {
		from {
			opacity: 0;
			transform: translateY(20px);
		}
		to {
			opacity: 1;
			transform: translateY(0);
		}
	}
</style>
